<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PlacementEngine</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>UIHome.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FileUpload</display-name>
    <servlet-name>FileUpload</servlet-name>
    <servlet-class>com.ts.demand.controller.FileUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUpload</servlet-name>
    <url-pattern>/FileUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTraineeController</display-name>
    <servlet-name>AddTraineeController</servlet-name>
    <servlet-class>com.ts.demand.controller.AddTraineeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTraineeController</servlet-name>
    <url-pattern>/AddTrainee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateController</display-name>
    <servlet-name>UpdateController</servlet-name>
    <servlet-class>com.ts.demand.controller.UpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateController</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDriveController</display-name>
    <servlet-name>AddDriveController</servlet-name>
    <servlet-class>com.ts.demand.controller.AddDriveController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDriveController</servlet-name>
    <url-pattern>/addDrive</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRoundController</display-name>
    <servlet-name>AddRoundController</servlet-name>
    <servlet-class>com.ts.demand.controller.AddRoundController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRoundController</servlet-name>
    <url-pattern>/addround</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRoundController</display-name>
    <servlet-name>DeleteRoundController</servlet-name>
    <servlet-class>com.ts.demand.controller.DeleteRoundController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRoundController</servlet-name>
    <url-pattern>/deleteround</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDemandController</display-name>
    <servlet-name>DeleteDemandController</servlet-name>
    <servlet-class>com.ts.demand.controller.DeleteDemandController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDemandController</servlet-name>
    <url-pattern>/deletedemand</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayDemandController</display-name>
    <servlet-name>DisplayDemandController</servlet-name>
    <servlet-class>com.ts.demand.controller.DisplayDemandController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayDemandController</servlet-name>
    <url-pattern>/displaydemand</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditDemandController</display-name>
    <servlet-name>EditDemandController</servlet-name>
    <servlet-class>com.ts.demand.controller.EditDemandController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDemandController</servlet-name>
    <url-pattern>/editdemand</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddContactController</display-name>
    <servlet-name>AddContactController</servlet-name>
    <servlet-class>com.ts.demand.controller.AddContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddContactController</servlet-name>
    <url-pattern>/AddContactController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPartnerController</display-name>
    <servlet-name>AddPartnerController</servlet-name>
    <servlet-class>com.ts.demand.controller.AddPartnerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPartnerController</servlet-name>
    <url-pattern>/AddPartnerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadController</display-name>
    <servlet-name>FileUploadController</servlet-name>
    <servlet-class>com.ts.demand.controller.FileUploadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadController</servlet-name>
    <url-pattern>/FileUploadController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePartnerController</display-name>
    <servlet-name>UpdatePartnerController</servlet-name>
    <servlet-class>com.ts.demand.controller.UpdatePartnerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePartnerController</servlet-name>
    <url-pattern>/UpdatePartnerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDemandController</display-name>
    <servlet-name>AddDemandController</servlet-name>
    <servlet-class>com.ts.demand.controller.AddDemandController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDemandController</servlet-name>
    <url-pattern>/adddemand</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadPartner</display-name>
    <servlet-name>DownloadPartner</servlet-name>
    <servlet-class>com.ts.demand.controller.DownloadPartner</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadPartner</servlet-name>
    <url-pattern>/DownloadPartner</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadTrainee</display-name>
    <servlet-name>DownloadTrainee</servlet-name>
    <servlet-class>com.ts.demand.controller.DownloadTrainee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadTrainee</servlet-name>
    <url-pattern>/DownloadTrainee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BroadcastEmails</display-name>
    <servlet-name>BroadcastEmails</servlet-name>
    <servlet-class>com.ts.demand.controller.BroadcastEmails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BroadcastEmails</servlet-name>
    <url-pattern>/broadcastemails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateContactController</display-name>
    <servlet-name>UpdateContactController</servlet-name>
    <servlet-class>com.ts.demand.controller.UpdateContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateContactController</servlet-name>
    <url-pattern>/UpdateContactController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadDrives</display-name>
    <servlet-name>DownloadDrives</servlet-name>
    <servlet-class>com.ts.demand.controller.DownloadDrives</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadDrives</servlet-name>
    <url-pattern>/DownloadDrives</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadDrive</display-name>
    <servlet-name>DownloadDrive</servlet-name>
    <servlet-class>com.ts.demand.controller.DownloadDrive</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadDrive</servlet-name>
    <url-pattern>/DownloadDrive</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadInactiveTrainee</display-name>
    <servlet-name>DownloadInactiveTrainee</servlet-name>
    <servlet-class>com.ts.demand.controller.DownloadInactiveTrainee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadInactiveTrainee</servlet-name>
    <url-pattern>/DownloadInactiveTrainee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadContacts</display-name>
    <servlet-name>DownloadContacts</servlet-name>
    <servlet-class>com.ts.demand.controller.DownloadContacts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadContacts</servlet-name>
    <url-pattern>/DownloadContacts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadContact</display-name>
    <servlet-name>DownloadContact</servlet-name>
    <servlet-class>com.ts.demand.controller.DownloadContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadContact</servlet-name>
    <url-pattern>/DownloadContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectTraineeController</display-name>
    <servlet-name>SelectTraineeController</servlet-name>
    <servlet-class>com.ts.demand.controller.SelectTraineeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectTraineeController</servlet-name>
    <url-pattern>/selecttrainee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScheduleTraineeController</display-name>
    <servlet-name>ScheduleTraineeController</servlet-name>
    <servlet-class>com.ts.demand.controller.ScheduleTraineeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduleTraineeController</servlet-name>
    <url-pattern>/ScheduleTraineeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectTrainee</display-name>
    <servlet-name>SelectTrainee</servlet-name>
    <servlet-class>com.ts.demand.controller.SelectTrainee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectTrainee</servlet-name>
    <url-pattern>/SelectTrainee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStatusController</display-name>
    <servlet-name>UpdateStatusController</servlet-name>
    <servlet-class>com.ts.demand.controller.UpdateStatusController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStatusController</servlet-name>
    <url-pattern>/updatestatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadTraineeHistory</display-name>
    <servlet-name>DownloadTraineeHistory</servlet-name>
    <servlet-class>com.ts.demand.controller.DownloadTraineeHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadTraineeHistory</servlet-name>
    <url-pattern>/DownloadTraineeHistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.ts.demand.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/logincontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.ts.demand.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/logoutcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateTraineeController</display-name>
    <servlet-name>ValidateTraineeController</servlet-name>
    <servlet-class>com.ts.demand.controller.ValidateTraineeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateTraineeController</servlet-name>
    <url-pattern>/validatetrainee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadSelectedTrainee</display-name>
    <servlet-name>DownloadSelectedTrainee</servlet-name>
    <servlet-class>com.ts.demand.controller.DownloadSelectedTrainee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadSelectedTrainee</servlet-name>
    <url-pattern>/DownloadSelectedTrainee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTraineeToDemandController</display-name>
    <servlet-name>AddTraineeToDemandController</servlet-name>
    <servlet-class>com.ts.demand.controller.AddTraineeToDemandController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTraineeToDemandController</servlet-name>
    <url-pattern>/addtraineetodemand</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadEligibleTrainee</display-name>
    <servlet-name>DownloadEligibleTrainee</servlet-name>
    <servlet-class>com.ts.demand.controller.DownloadEligibleTrainee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadEligibleTrainee</servlet-name>
    <url-pattern>/downloadeligibletrainee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MailCaptureController</display-name>
    <servlet-name>MailCaptureController</servlet-name>
    <servlet-class>com.ts.demand.controller.MailCaptureController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MailCaptureController</servlet-name>
    <url-pattern>/mailcapture</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplyTraineeController</display-name>
    <servlet-name>ApplyTraineeController</servlet-name>
    <servlet-class>com.ts.demand.controller.ApplyTraineeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyTraineeController</servlet-name>
    <url-pattern>/applytrainee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthenticationFilter</display-name>
    <servlet-name>AuthenticationFilter</servlet-name>
    <servlet-class>com.ts.demand.filter.AuthenticationFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticationFilter</servlet-name>
    <url-pattern>/AuthenticationFilter</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AuthenticationFilter</display-name>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>com.ts.demand.filter.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/signupView.jsp</url-pattern>
    <url-pattern>/layout.jsp</url-pattern>
    <url-pattern>/acessedTrainee.jsp</url-pattern>
    <url-pattern>/addContact.jsp</url-pattern>
    <url-pattern>/AddDemandView.jsp</url-pattern>
    <url-pattern>/UIHome.jsp</url-pattern>
    <url-pattern>/addDrive.jsp</url-pattern>
    <url-pattern>/addPartner.jsp</url-pattern>
    <url-pattern>/AddTraineeToDemand.jsp</url-pattern>
    <url-pattern>/allContactsView.jsp</url-pattern>
    <url-pattern>/CompareTrainee.jsp</url-pattern>
    <url-pattern>/ContactsView.jsp</url-pattern>
    <url-pattern>/contactView.jsp</url-pattern>
    <url-pattern>/DemandContactView.jsp</url-pattern>
    <url-pattern>/DemandPartner.jsp</url-pattern>
    <url-pattern>/DemandView.jsp</url-pattern>
    <url-pattern>/DriveView.jsp</url-pattern>
    <url-pattern>/EditDemandView.jsp</url-pattern>
    <url-pattern>/inactiveTraineeView.jsp</url-pattern>
    <url-pattern>/ListBroadcastTraineesView.jsp</url-pattern>
    <url-pattern>/ListDemand.jsp</url-pattern>
    <url-pattern>/ListOfDrivesView.jsp</url-pattern>
    <url-pattern>/ListTraineeView.jsp</url-pattern>
    <url-pattern>/partnerView.jsp</url-pattern>
    <url-pattern>/round.jsp</url-pattern>
    <url-pattern>/scheduleView.jsp</url-pattern>
    <url-pattern>/SelectedTrainee.jsp</url-pattern>
    <url-pattern>/TraineeHistory.jsp</url-pattern>
    <url-pattern>/TraineeUpload.jsp</url-pattern>
    <url-pattern>/Update.jsp</url-pattern>
    <url-pattern>/updateContact.jsp</url-pattern>
    <url-pattern>/updatePartner.jsp</url-pattern>
    <url-pattern>/Upload.jsp</url-pattern>
    <url-pattern>/uploadFile.jsp</url-pattern>
    <url-pattern>/acessedTrainee.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpController</display-name>
    <servlet-name>SignUpController</servlet-name>
    <servlet-class>com.ts.demand.controller.SignUpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpController</servlet-name>
    <url-pattern>/signupcontroller</url-pattern>
  </servlet-mapping>
</web-app>